html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;
}

#ar-container {
  position: relative;
  width: 100%;
  height: 100%;
}

/*garante que o vídeo fique visível */
#ar-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

/*canvas do Three.js */
#ar-container canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
} 

